<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body style="background: rgb(219,246,251);
background: linear-gradient(90deg, rgba(219,246,251,1) 0%, rgba(114,121,121,1) 41%, rgba(211,214,214,0.9920343137254902) 60%, rgba(244,246,246,1) 100%);">
    
    <div style="text-align: center; font-size:100px">
    {{!-- <h1>Error Page</h1> --}}
    <br>
    <div>oops!! Error &#128546;
        {{message}}</div>
    {{!-- <div>Status Code:{{code}}</div> --}}
    </div>
</body>
</html>